<div class="container-fluid">
  <form role="form-horizontal">
    <div class="row form-group col-xs-12">
      <label>Ride Title:
        <input
          id="listing-title"
          type="text"
          name="list_title"
          class="form-control"
          placeholder="Your Listing Title"></label>
    </div>
  <br>
    <div class="row form-group col-xs-12">
      <label>Ride Description:
        <textarea
          id="list-description"
          type="text"
          name="list_desc"
          class="form-control"
          rows="3"
          cols="150"
          placeholder="Your Ride Description"></textarea></label>
    </div>
  <br>
    <div class="row form-group col-xs-12">
      <label>Ride Rental Price:
        <input
          id="ride-price"
          type="text"
          name="price"
          class="form-control"
          placeholder="Your Daily Rental Price"></label>
    </div>
  <br>
    <div class="row form-group col-xs-12">
      <label>Pick Up Location:
        <input
          id="listing-address"
          type="text"
          name="address"
          class="form-control"
          placeholder="Your Pickup Address"></label>
    </div>
  <br>
    <div class="row form-group col-xs-12">
      <label>Picture URL:
        <input
          id="listing-image"
          type="text"
          name="image1"
          class="form-control"
          placeholder="Your Image URL"></label>
    </div>
  <br>
    <div class="row form-group col-xs-12">
      <label>Picture URL:
        <input
          id="listing-image"
          type="text"
          name="image2"
          class="form-control"
          placeholder="Your Image URL"></label>
    </div>
  <br>
    <div class="row form-group col-xs-12">
      <label>Picture URL:
        <input
          id="listing-image"
          type="text"
          name="image3"
          class="form-control"
          placeholder="Your Image URL"></label>
    </div>
  </form>
</div>
