<div class="panel panel-success" id="create-listing-form">
  <div class="panel-heading">Create A Listing!</div>
  <div class="panel-body">
    <p>List Your Ride and Make Some Money</p>
  </div>

  <ul class="list-group">
    <form class="float-left">
      <li class="list-group-item">
        <div class="form-inline">
          <label>
            <input
              id="listing-title"
              type="text"
              name="list_title"
              class="form-control"
              placeholder="Listing Title">
          </label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="form-inline">
          <label>
            <textarea
              id="listing-description"
              type="text"
              name="list_desc"
              class="form-control"
              cols="57"
              placeholder="Ride Description: 1048 chars max"></textarea>
          </label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="form-inline">
          <label>
            <input
              id="ride-price"
              type="text"
              name="price"
              class="form-control"
              placeholder="Rental price:  Please indicate Daily/Weekly/Monthly $">
          </label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="form-inline">
          <label>
            <input
              id="listing-address"
              type="text"
              name="address"
              class="form-control"
              placeholder="Address of meet up">
          </label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="form-inline">
          <label>Picture URL: *default images provided
            <input
              id="listing-image"
              type="text"
              name="image1"
              class="form-control"
              placeholder="Your Image URL"
              value="http://i.imgur.com/Nrzg1L5.jpg"
              onfocus="this.value = ' '"></label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="form-inline">
          <label>Picture URL:
            <input
              id="listing-image"
              type="text"
              name="image2"
              class="form-control"
              placeholder="Your Image URL"
              value="http://i.imgur.com/xf6agx8.jpg?1?5638"
              onfocus="this.value = ' '"></label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="form-inline">
          <label>Picture URL:
            <input
              id="listing-image"
              type="text"
              name="image3"
              class="form-control"
              placeholder="Your Image URL"
              value="http://i.imgur.com/u6pAo6A.jpg?1?2312"
              onfocus="this.value = ' '"></label>
        </div>
      </li>

      <li class="list-group-item">
        <button class="create-ride btn btn-success" value="submit">Create Listing!</button>
      </li>
    </form>
  </ul>
</div>
