<div class="search-slider">
  <article class="text-center" style="height: 150px;">put a slider && book date here</article>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="map-container">
      <div class="map col-xs-5">
        <h7>Google Maps</h7>
      </div>
    </div>
    <div class="listings-index col-xs-7">
      <div class="listings col-md-12"></div>
    </div>
  </div>
</div>
