<div class="search-slider">
  <article class="text-center">put a slider && book date here</article>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="map col-xs-5"></div>

    <div class="listings-index col-xs-7">
      <h4>Search Results</h4>
      <div class="listings"></div>
    </div>
  </div>
</div>
