<div class="row">

  <div class="maps-index col-xs-6">
    <strong>Put a map here</strong>
  </div>


  <div class="listings-index col-xs-6">
      <h3>Some Listings</h3>

      <ul class="listings col-xs-6"></ul>
  </div>

</div>
