<div class="search-slider">
  <div class="search-box-index"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="map-container">
      <div class="map col-xs-5">
        <h7>Google Maps</h7>
      </div>
    </div>
    <div class="no-results">
      <div class="listings-index col-xs-7">
        <div class="listings col-md-12"></div>
      </div>
    </div>
  </div>
</div>
