<div class="search-slider">
  <article class="text-center">put a slider && book date here</article>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- <h3>Google Maps</h3> -->
    <div class="map col-xs-5">

    </div>


    <div class="listings-index col-xs-6 col-centered">
      <h4>Search Results</h4>

      <div class="listings row-centered"></div>

    </div>
    <!-- <div class="row-space-8">
      <div class="listings-index row row-condensed">
        <h4>Search Results</h4>

        <div class="listings col-6 row-space-1"></div>

      </div>
    </div> -->


    <!-- <div class="listings-info col-xs-3">
      <h3>Bike Info</h3>

      <div class="row">

        <ul class="bike-listings col-md-3"></ul>

      </div>
    </div> -->


  </div>
</div>
