<a href="/#/listing/<%= listing.escape('id') %>"><%= listing.escape("list_title") %></a>

<div class="infoBox img-responsive">
  <img class="img-responsive img-thumbnail wobble-skew" src="<%= listing.get('feature_img') %>"></img>
</div>

<div class="infoBox-Price-Container">
  <div class="infoBox-Price">
    <strong>Rent This Ride For $<%= listing.escape("price") %> A Day</strong>
  </div>
</div>
