<section
  style="background-image:url('../images/splash.png');">
  <%= render partial: "layouts/header" %>

  <article class="col-xs-6 col-xs-offset-3">
    <%= render partial: "layouts/flasherrors" %>
  </article>
<div class="col-xs-6 col-xs-offset-3">

  <div class="form-group" id="new-session-user">
    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <!-- <label for="user_username" id="username">Username</label> -->
      <input
        type="hidden"
        name="user[username]"
        id="user_username"
        class="text-lowercase form-control text-center"
        placeholder="username"
        value="username"
        onclick="this.value= ''">

      <!-- <label for="user_password" id="password">Password</label> -->
      <input
        type="hidden"
        name="user[password]"
        id="user_password"
        class="form-control text-center"
        placeholder="password"
        value="123456"
        onclick="this.value= ''">

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="row">
        <div class="col-xs-12 col-xs-offset-4">
          <input
            type="submit"
            value="Guest Login!"
            class="guest-login btn btn-success pulse-grow">
        </div>
      </div>
    </form>
  </div>
</div>
</section>
<%= render partial: "layouts/footer" %>
