<section
  style="background-image:url('https://c4.staticflickr.com/4/3855/15135608761_bb36108002_b.jpg');">
  <%= render partial: "layouts/header" %>

  <article class="col-xs-6 col-xs-offset-3">
    <%= render partial: "layouts/flasherrors" %>
  </article>

<div class="col-xs-6 col-xs-offset-3">

  <div class="form-group" id="new-session-user">
    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <!-- <label for="user_username" id="username">Username</label> -->
      <input
        type="text"
        name="user[username]"
        id="user_username"
        class="text-lowercase form-control text-center"
        placeholder="username"
        value="username"
        onclick="this.value= ''">

      <!-- <label for="user_password" id="password">Password</label> -->
      <input
        type="password"
        name="user[password]"
        id="user_password"
        class="form-control text-center"
        placeholder="password"
        value="123456"
        onclick="this.value= ''">

      <input type="submit" value="Sign In!" class="btn btn-primary col-xs-12" id="static-sign-in">
      <input type="submit" value="Guest Login!" class="btn btn-success col-xs-12">

    </form>
  </div>
</div>
</section>
