<!-- <div class="page-container page-container-responsive row-full-height"> -->
<div class="container">
  <br><br><br><br><br><br><br><br>
  <div class="row well home-page">
    <div class="col-xs-12">
      <div class="text-center">
        <div id="tagline" class="text-jumbo text-contrast row-space-1">
          <h1>Welcome Explorer</h1>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <form action="#" class="form-inline"  id="search_form">
        <input
            type="text"
            class="form-control location input-large input-contrast"
            autocomplete="off"
            id="location"
            name="location"
            placeholder="Where would you like to ride?"
            onfocus="this.placeholder = 'Any City or State or Address Here'"
            size="50"><button
            type="submit"
            class="form-control btn btn-danger pulse-grow"
            id="submit_location">
            Search</button>
      </form>
    </div>
  </div>
</div>
