<div class="page-container page-container-responsive row-full-height">
  <strong>Something Here</strong>

  <div class="intro-area row row-table row-full-height">

    <div class="col-12 col-middle">
      <h1 id="tagline" class="h4 text-contrast row-space-4">
        Welcome Rider
      </h1>
      <div id="subtitle" class="h4 text-contrast row-space-4">
        Rent awesome rides from all around the biggest fixed gear communities
      </div>

    </div>



    <div class="col-12">
      <form action="search/index" id="search_form">
        <div class="location-wrapper">
          <input
              type="text"
              class="form-inline location input-large input-contrast"
              autocomplete="off"
              id="location"
              name="location"
              placeholder="Where do you want to ride?">
        </div>

        <input
            type="text"
            id="checkin"
            class="form-inline checkin search-option input-large input-contrast ui-datepicker-target"
            name="checkin"
            placeholder="Start Rent">

        <input
            type="text"
            id="checkout"
            class="form-inline checkin search-option input-large input-contrast ui-datepicker-target"
            name="checkout"
            placeholder="Return Ride">

        <input
            type="hidden"
            name="source"
            value="something here?">

        <button
            type="submit"
            class="search-button form-inline btn btn-primary btn-large"
            id="submit_location">
            Search
        </button>
      </form>
    </div>


  </div>

</div>
