<div class="page-container page-container-responsive row-full-height">

  <div class="intro-area row row-table row-full-height">
    <div class="text-center">
      <h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1">
        Welcome Rider
      </h1>
    </div>

    <div id="subtitle" class="h4 text-center">
      Rent awesome rides from the biggest fixed gear communities
    </div>

    <div class="col-xs-8 col-xs-offset-2">
      <form action="#search/index" id="search_form" class="form-inline">
        <input
            type="text"
            class="form-control location input-large input-contrast col-xs-3"
            autocomplete="off"
            id="location"
            name="location"
            placeholder="Where would you like to ride?"
            onfocus="this.value = 'San Francisco'"
            size="30">
        <input
            type="text"
            class="form-control datepicker ui-datepicker-target"
            onfocus="this.value = ''"
            placeholder="Start Date"
            size="20"><input
            type="text"
            class="form-control datepicker"
            onfocus="this.value= ''"
            placeholder="Return Date"
            size="20"><button
            type="submit"
            class="form-control btn btn-danger"
            id="submit_location">
            Search</button>
      </form>
    </div>
  </div>
</div>
