<div class="page-container page-container-responsive row-full-height">

  <div class="intro-area row row-table row-full-height">

    <div class="text-center">
      <h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1">
        Welcome Rider
      </h1>
    </div>

    <div id="subtitle" class="h4 text-center">
      Rent awesome rides from the biggest fixed gear communities
    </div>

    <div class="col-md-12 col-md-offset-4">
      <form action="#search/index" id="search_form">
        <input
            type="text"
            class="form-inline location input-large input-contrast col-xs-3"
            autocomplete="on"
            id="location"
            name="location"
            placeholder="Where would you like to ride?"
            onfocus="this.value = 'San Francisco'">

        <!-- <input
            type="text"
            id="checkin"
            class="form-inline checkin search-option input-large input-contrast ui-datepicker-target col-xs-3"
            name="checkin"
            placeholder="Start Date"> -->

        <!-- <input
            type="text"
            id="checkout"
            class="form-inline checkin search-option input-large input-contrast ui-datepicker-target col-xs-3"
            name="checkout"
            placeholder="End Ride"> -->
<!--
        <input
            type="hidden"
            name="source"
            value="something here?"> -->

        <button
            type="submit"
            class="search-button form-inline btn btn-primary btn-large"
            id="submit_location">
            Search
        </button>

      </form>
    </div>


  </div>

</div>
