<!-- <div class="page-container page-container-responsive row-full-height"> -->
  <br><br><br><br><br><br><br><br>
  <div class="row well col-xs-7 col-xs-offset-2">
    <div class="text-center">
      <div id="tagline" class="text-jumbo text-contrast row-space-1">
        <h1>Welcome Explorer</h1>
      </div>
    </div>
    <div id="subtitle" class="h7 text-center">
      Rent Beautiful Rides From Enthusiasts Like Yourself<br>
      Go Ride All Around The World
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="well" style="height: 80px;">
    <div class="col-xs-10 col-xs-offset-2">
      <form action="#" class="form-inline"  id="search_form">
        <input
            type="text"
            class="form-control location input-large input-contrast col-xs-3"
            autocomplete="off"
            id="location"
            name="location"
            placeholder="Where would you like to ride?"
            size="45">
        <input
            type="text"
            class="form-control datepicker"
            onfocus="this.value = ''"
            placeholder="Start Date"
            size="20"><input
            type="text"
            class="form-control datepicker"
            onfocus="this.value= ''"
            placeholder="Return Date"
            size="20"><button
            type="submit"
            class="form-control btn btn-danger"
            id="submit_location">
            Search</button>
      </form>
    </div>
  </div>
</div>
