<div class="container-fluid">
  <div class="row" style="min-height: 600px;">
    <div class="side-bar col-xs-3 float-left" style="height: 600px; border: 2px outset; background-color: #eee; position: relative;">
    </div>

    <div class="user-content col-xs-9 float-left" style="overflow-y: scroll; height: 600px; border: 3px outset; position: inherit; background-color: #eee;">
    </div>

  </div>
</div>
