<div class='span8 main text-center'>
  <h2>Your Listings</h2>

  <div class="container-fluid">
    <div class="row" style="position: relative;">
      <div class="col-xs-6" style="width: 400px;">
        <img src="<%= images[0].escape('feature_img') %>" class="img-responsive"></img>
      </div>

    </div>
</div>
