<div class="container-fluid">
  <div class='row float-left'>
    <h2>Your Listings</h2>
  </div>
    <% images.forEach(function (image) { %>
      <a href="/#/listing/requests/<%= image.escape('id') %>">
        <img src="<%= image.get('images')[0].url %>" class="img-responsive img-thumbnail" id="your-listings"></img>
      </a>
    <% }) %>
</div>
