<div class="container-fluid">
  <div class='row float-left'>
    <h2>Your Listings</h2>
  </div>
    <% images.forEach(function (image) { %>
      <a href="/#/listing/requests/<%= image.escape('id') %>">
        <img src="<%= image.escape('feature_img') %>" class="img-responsive img-thumbnail" style="max-width: 300px;"></img>
      </a>
    <% }) %>
</div>
