<div class="container-fluid">
  <div class='row float-left'>
    <h2>Your Listings</h2>
  </div>
    <% listings.forEach(function (listing) { %>
      <a href="/#/listing/requests/<%= listing.escape('id') %>">
        <img src="<%= listing.get('images')[Math.floor ( Math.random() * 3 )].url %>" class="img-responsive img-thumbnail" id="your-listings"></img>
      </a>
    <% }) %>
</div>
