<div class="container-fluid">
  <div class="row">
    <h1>Hello Guest User!</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <object id="orca-whale" data="http://img0.liveinternet.ru/images/attach/c/5/3970/3970473_sprite198.swf"></object>
  </div>
</div>
