<div class="container-fluid">
  <div class='row float-left'>
    <h2>Your Requests</h2>
  </div>
    <% models.forEach(function (model) { %>
      <a href="/#/listing/<%= model.get('listing_id') %>">
        <img src="<%= model.get('images').url %>" class="img-responsive img-thumbnail" id="your-listings" style="height: 500px"></img>
      </a>
    <% }) %>
</div>
