<div id='content' class='row-fluid'>
  <div class='span2 sidebar'>
    <h3 id="user-control-panel">User Control Panel</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href='#' class="grow shadow-radial" id="profile">Profile</a></li>
        <li><a href='#' class="grow shadow-radial" id="my-listings">Your Listings</a></li>
        <li><a href='#' class="grow shadow-radial" id="my-requests">Your Requests</a></li>
      </ul>
  </div>
</div>
