<div id='content' class='row-fluid'>
  <div class='span2 sidebar'>
    <h3 style="color: rgba(155, 155, 155, 0.6);">User Control Panel</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href='#' class="grow" id="profile">Profile</a></li>
        <li><a href='#' class="grow" id="my-listings">Your Listings</a></li>
        <li><a href='#' class="grow" id="my-requests">Your Requests</a></li>
      </ul>
  </div>
</div>
