<section
  style="background-image:url('../images/splash.png');">
  <%= render partial: "layouts/header" %>

  <article class="col-xs-6 col-xs-offset-3">
    <%= render partial: "layouts/flasherrors" %>
  </article>

<div class="col-xs-6 col-xs-offset-3">

  <div class="form-group" id="new-session-user">
    <form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <!-- <label for="user_username" id="username">Username</label> -->
      <input
        type="text"
        name="user[username]"
        id="user_username"
        class="text-downcase form-control text-center"
        placeholder="username"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'username'">

      <!-- <label for="user_password" id="password">Password</label> -->
      <input
        type="password"
        name="user[password]"
        id="user_password"
        class="form-control text-center"
        placeholder="password"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder= 'password'">

      <input type="submit" value="Sign Up!" class="btn btn-primary col-xs-12 grow">

    </form>
  </div>
</div>
</section>

<%= render partial: "layouts/footer" %>
