<div class="col-xs-6 col-xs-offset-3">

  <div class="form-group" id="new-session-user">
    <form action="/user" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <!-- <label for="user_username" id="username">Username</label> -->
      <input
        type="text"
        name="user[username]"
        id="user_username"
        value="<%= @user.username %>"
        class="text-lowercase form-control text-center"
        placeholder="username"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'username'">

      <!-- <label for="user_password" id="password">Password</label> -->
      <input
        type="password"
        name="user[password]"
        id="user_password"
        class="form-control text-center"
        placeholder="password"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'password'">

      <input type="submit" value="Create User!" class="btn btn-success col-xs-12">
    </form>
  </div>
</div>
