<div class="container-fluid" id="requests-index">
  <div class="row">
    <div class="col-xs-6">
      <% if (typeof listing.get('images') !== "undefined") { %>
        <img class="img-responsive" src="<%= listing.get('images')[0].url %>"></img>
      <% } %>
    </div>

    <div class="col-xs-6 listing-requests-index"></div>
  </div>
</div>
