/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 */

div.row {
  margin-left: 0px;
}

.navbar-header {
  background: transparent;
  border-bottom: none;
  // z-index: 1000;
  top: 5px;
  width: 100%;
  position: absolute;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

div#collapse-sign-in.collapse.navbar-collapse {
  padding: 10px 5px 5px 10px;
  width: 90%;
}

body > section {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  // margin-left: auto;
  // margin-right: auto;
}

div.navbar-brand {
  font-family: "Bello", sans-serif;
  font-size: 25px;
  font-weight: bold;
  // height: 1050px;
  // color: #fff;
  color: #aaa;
  padding: 23px 0 30px 10px;
  float: left;
}

.navbar {
  padding-right: 10px;
  // background: transparent;
}

.navbar.navbar-default {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 10px 0 0;
  background-color: transparent;
  border: none;
  // margin: 0 0 0 0;
  // height: 100%;
}


#user_username {
  margin-top: 5px;
  margin-bottom: 5px;
}

#user_password {
  margin-top: 5px;
  margin-bottom: 5px;
}

// .centered-text {
//   text-align: center;
// }

a.btn.btn-special {
  text-decoration: underline;
}

a.btn.btn-special.list-ride {
  background: #007a87;
  // background: transparent;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 25px 10px 25px;
  margin-left: 15px;
  color: white;
  // color: black;
  // border-bottom-color: #004f58;
  border: 1px solid;
  text-decoration: none;
}

body > footer {
  // background-image: url(../images/footer.png);
  background: grey;
  height: 150px;
  bottom: 0;
}

#static-sign-in {
  margin-bottom: 1px;
}
