/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 */

// .navbar-header {
//   background: transparent;
//   border-bottom: none;
//   z-index: 1000;
//   top: 10px;
//   width: 100%;
//   position: relative;
// }
//
// .clearfix:after {
//   content: " ";
//   visibility: hidden;
//   display: block;
//   height: 0;
//   clear: both;
// }

div#collapse-sign-in.collapse.navbar-collapse {
  padding: 5px 5px 5px 5px;
}

div.navbar-brand {
  font-family: "Shift", sans-serif;
  font-size: 25px;
  font-weight: bold;
  // color: #fff;
  // color: #aaa;
  padding: 18px 0 200px 15px;
  float: left;
}

.navbar {
  padding-right: 30px;
  background: transparent;
}

.navbar.navbar-default {
  width: 100%;
  background-color: transparent;
  border: none;
}

#flash {
  margin: 0 auto;
  background-color: red;
  position: relative;
}

#user_username {
  margin-top: 5px;
  margin-bottom: 5px;
}

#user_password {
  margin-top: 5px;
  margin-bottom: 5px;
}

.centered-text {
  text-align: center;
}

a.btn.btn-special {
  text-decoration: underline;
}

a.btn.btn-special.list-ride {
  background: #007a87;
  font-size: 14px;
  font-style: bold;
  padding: 10px 20px;
  margin-left: 15px;
  color: white;
  border-bottom-color: #004f58;
  border: 1px solid;
  text-decoration: none;
}


div#footer.container-brand-dark.footer-surround.footer-container {
  background-image: url(../images/footer.png);
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
}
