// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.listings {
  list-style-type: none;
  position: absolute;
}

ul.listings li {
  position: relative;
}

img.images {
  // min-width: 235px;
  margin: 3px 0 3px 0;
  background: cover;
  float: left;
}
