// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.request-form > * {
  height: 48px;
}

input[type=date]:focus {
  box-shadow: 2px 3px 4px 5px rgba(81, 203, 238, 1);
  // margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 0.6);
}

// div#requests-index {
//   height: 650px;
//   // width: 100%;
//   border: 2px outset;
// }

div#requested-listing img {
  border: 2px outset;
  max-width: 500px;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
}

.requests-index {
  white-space: nowrap;
  height: 500px;
  overflow-y: scroll;
  min-height: 400px;
  background: transparent;
}
