.carousel-inner .item {
  // top: 0%;
  // left: 25%;
  height: 100%;
  width: 100%;
  margin: -15% 0 0 0;
}

.carousel-inner .item img {
  margin: 0 auto;
  padding: 225px 10px 100px 10px;
  height: 60%;
  width: 60%;
}
