<div id="carousel-example-generic" class="carousel slide img-responsive" data-ride="carousel" style="min-height: 500px; max-height: 480px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="max-height: inherit; max-width: 100%; margin: 0 auto; overflow: hidden;">
    <div class="item active">
      <div class="img-responsive"><img src="<%= images[0] %>"></img></div>
     </div>
    <div class="item">
      <div class="img-responsive"><img src="<%= images[1] %>" alt=""></img></div>
     </div>
    <div class="item">
      <div class="img-responsive"><img src="<%= images[2] %>"  alt=""></img></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
