<br>
<form class="form-inline text-center request-form" style="height: 100%; padding: 7px 0 0 0;">
  <input
      type="date"
      id="start"
      name="start_date"
      class="form-control datepicker"
      placeholder="Start Date"
  ><input
      type="date"
      id="end"
      name="end_date"
      class="form-control datepicker"
      placeholder="Return Date"
  ><button
      type="submit"
      class="form-control btn btn-danger grow"
      size="70">
      Reserve This Ride!</button>
</form>
