<br>
<form class="form-inline text-center request-form">
  <input
      type="date"
      id="start"
      name="start_date"
      class="form-control datepicker"
      placeholder="Start Date"
  ><input
      type="date"
      id="end"
      name="end_date"
      class="form-control datepicker"
      placeholder="Return Date"
  ><button
      type="submit"
      class="form-control btn btn-danger pulse-grow"
      size="70">
      Request This Ride!</button>
</form>
