<form class="form-inline">
  <input
      type="text"
      class="form-control datepicker"
      placeholder="Start Date"
  ><input
      type="text"
      class="form-control datepicker"
      placeholder="Return Date"
  ><button
      type="submit"
      class="form-control btn btn-primary">
      Reserve This Ride!</button>
</form>
