<br>
<form class="form-inline text-center request-form" style="height: 100%; padding: 10px 10px 0 0;">
  <input
      type="date"
      id="start-date"
      class="form-control datepicker"
      placeholder="Start Date"
  ><input
      type="date"
      id="end-date"
      class="form-control datepicker"
      placeholder="Return Date"
  ><button
      type="submit"
      class="form-control btn btn-danger"
      size="70">
      Reserve This Ride!</button>
</form>
