<div class="container-fluid">
  <div class="row">
    <div class="carousel col-xs-12"></div>
  </div>
  <div class="row">
    <div class="reserve-this-ride col-xs-12"></div>
  </div>
  <div class="row">
    <div class="ride-info col-xs-6"></div>
    <div class="feature-img-view col-xs-6"></div>
  </div>
</div>
