<div class="row">
  <div class="carousel" style="min-height: 500px; position: relative;"></div>

  <div class="reserve-this-ride row" style="min-height: 100px; border-top: 1px solid; background-color: rgba(0, 0, 0, 0.6);"></div>

  <div class="ride-info col-xs-8" style="min-height: 350px; border: 1px solid; "></div>
  <div class="put-map-here-later" style="min-height: 350px; border: 2px inset;"></div>
</div>
