<div class="carousel" style="min-height: 500px; position: relative;"></div>

<div class="reserve-this-ride" style="min-height: 100px; border-top: 1px solid;"></div>

<div class="ride-info" style="min-height: 350px; border: 1px solid;"></div>
