<div id="flash-messages">
  <% flash.each do |key, msgs| %>
    <div class="<%= flash_bootstrap_class(key) %> fade in">
      <a href="#" data-dismiss="alert" class="close">x</a>
        <% msgs.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
  <% end %>
</div>
