<div class="footer" style="background-image: url(../images/footer.png)">
  <div class="col-xs-3">
      <br><br><br>
      <button class="language btn btn-primary form-control">English</button>
      <br>
      <button class="usd btn btn-success form-control">USD</button>
      <br><br><br>
      <div id="copyright">© 2014 FixieBNB</div>
  </div>
  <div class="col-xs-3">
    <ul>
      <br><h7>FixieBNB</h7><br>
      <br><a href="/#/search/index">Search Rides</a>
      <br><a href="/#/search/index">Renter FAQ</a>
      <br><a href="/#/search/index">List A Ride</a>
      <br><a href="/#/search/index">Lister FAQ</a>
      <br><a href="/#/search/index">How It Works</a>
      <br><a href="/#/search/index">Trust & Safety</a>
      <br><a href="/#/search/index">Click Here WAT</a>
    </ul>
  </div>
  <div class="col-xs-3">
    <ul>
      <br><h7>Connect</h7><br>
      <br><a href="/#/search/index">Blog</a>
      <br><a href="/#/search/index">Twitter</a>
      <br><a href="/#/search/index">Facebook</a>
      <br><a href="/#/search/index">Instagram</a>
      <br><a href="/#/search/index">Google Play</a>
      <br><a href="/#/search/index">Invite Friends</a>
      <br><a href="/#/search/index">Tumblr</a>
    </ul>
  </div>
  <div class="col-xs-3">
    <ul>
      <br><h7>Ride Renting</h7><br>
      <br><a href="/#/search/index">Why Rent?</a>
      <br><a href="/#/search/index">Hospitality</a>
      <br><a href="/#/search/index">Responsible Share</a>
      <br><a href="/#/search/index">Ride Safety</a>
      <br><a href="/#/search/index">Stories</a>
      <br><a href="/#/search/index">Press</a>
    </ul>
  </div>
</div>

<div class="container clearfix">
  <div class="col-xs-3">

  </div>
</div>
