<div class="footer">
  <div class="container-fluid">
    <div class="col-xs-3">
        <br><br><br>
        <button class="language btn btn-primary form-control">English</button>
        <br>
        <button class="usd btn btn-success form-control">USD</button>
        <br><br><br>
        <div id="copyright">© 2014 FixieBNB</div>
    </div>
    <div class="col-xs-3">
      <ul>
        <br><h7>FixieBNB</h7><br>
        <br><a href="#">Search Rides</a>
        <br><a href="#">Renter FAQ</a>
        <br><a href="#">List A Ride</a>
        <br><a href="#">Lister FAQ</a>
        <br><a href="#">How It Works</a>
        <br><a href="#">Trust & Safety</a>
      </ul>
    </div>
    <div class="col-xs-3">
      <ul>
        <br><h7>Connect</h7><br>
        <br><a href="#">Blog</a>
        <br><a href="#">Twitter</a>
        <br><a href="#">Facebook</a>
        <br><a href="#">Instagram</a>
        <br><a href="#">Google Play</a>
        <br><a href="#">Invite Friends</a>
      </ul>
    </div>
    <div class="col-xs-3">
      <ul>
        <br><h7>Ride Renting</h7><br>
        <br><a href="#">Why Rent?</a>
        <br><a href="#">Hospitality</a>
        <br><a href="#">Responsible Share</a>
        <br><a href="#">Ride Safety</a>
        <br><a href="#">Stories</a>
        <br><a href="#">Press</a>
      </ul>
    </div>
  </div>
</div>
