<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-sign-in">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="/">fixie</a><a href="https://www.linkedin.com/in/itsjimmyh" target="_blank">.</a><a href="https://github.com/itsjimmyh" target="_blank">bnb</a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="collapse-sign-in">
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <% if current_user.username == 'username' %>
            <% current_user.username = 'Guest User' %>
          <% end %>

          <li><a href="#/users/dashboard/" class="btn btn-special grow">Welcome <%= current_user.username.titleize %></a></li>
          <li><%= link_to "Sign Out", session_url, method: :delete, class: "btn btn-special grow" %></li>

        <% else %>

          <li><a href="/session/new" class="btn btn-special grow">Sign In</a></li>
          <li><a href="/users/new" class="btn btn-special grow">Sign Up</a></li>

        <% end %>

        <li><a href="#" class="btn btn-special list-ride pulse-grow">List Your Ride</a></li>
      </ul>
    </div>
  </div>
</nav>
